*.py[cod]

build
devel

profile.tmp


trafficlightclassifier/cocoapi/*

trafficlightclassifier/models/*
trafficlightclassifier/dataset/*
trafficlightclassifier/inference*/*

trafficlightclassifier/train*/* 
